.container {
    padding: auto;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-bottom: 2%;
}

.search-input {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
    width: 30%;
}

.search-button,
.upload-button {
    padding: 10px 10px;
    border-radius: 25px;
    color: white;
    border: none;

    cursor: pointer;
}

.search-button {
    background-color: #1976d2;
}

.upload-button {
    background-color: #d32f2f;
}

.search-button:hover {
    background-color: #1565c0;

}

.upload-button:hover {
    background-color: #c62828;
}

.upload-file-input {
    display: none;
}

.uploaded-file {
    margin-bottom: 1%;
}

.records-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    padding-top: 1%;
}

.div-table {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
}

.paper-table-container {
    width: 100%;
    overflow: hidden
}

.table-container {
    max-height: 68vh;
    overflow-y: auto;
}

.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer-class {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}